.logo
  background: $color-yellow
  img
    margin-left: (100% / 2)

.navigation
  background: white
  text-align: center
  list-style-type: none
  li
    display: inline
    padding-right: 200px
    color: $color-gray
    font-size: ($type-size-base * 1.5)

.upcoming
  div
    background-color: $color-gray
    color: white

.info
  p
    padding-left: 100px
    padding-right: 200px
    padding-top: 20px
    padding-bottom: 20px

.header
  div
    font-size: ($type-size-base * 1.5)
    background: $color-gray
    color: white
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 50px
    // float: right

.extra
  padding-bottom: 20px
  div
    background: $color-yellow
  p
    padding-left: 100px
    padding-right: 75px 
  img
    float: right
    padding-right: 75px
  div.column.three-quarters.department-logos
    background: white

.event-list
  img
    

.artist-list
  list-style-type: none
  ul
    padding-left: 0
    list-style-type: none
  li
    padding-bottom: 10px
    background-color: $color-yellow
    font-size: ($type-size-base * 1.25)
    padding: 20px 0 20px 20px
    &:nth-of-type(odd)
      background-color: lighten($color-yellow, 30%)
.has-flag
  overflow-x: hidden

.flag
  position: relative
  margin: 3rem 0

  h2
    color: white
    padding-top: 0.5em
    padding-bottom: 0.5em
    position: relative
    margin: 0

  &::after
    content: ''
    display: block
    position: absolute
    background-color: $color-gray
    width: 1000px
    top: 0
    height: 100%
    z-index: -1

  &.right
    &::after
      left: 0

  &.left
    &::after
      right: 0

.this-term
  .column
    padding: 0
