.logo
  background: $color-yellow
  img
    margin-left: (100% / 2)

.navigation
  background: white
  text-align: center
  list-style-type: none
  li
    display: inline
    padding-right: 200px
    color: $color-gray
    font-size: ($type-size-base * 1.5)

.info
  p
    padding-left: 100px
    padding-right: 200px
    padding-top: 20px
    padding-bottom: 20px

.header
  div
    font-size: ($type-size-base * 1.5)
    background: $color-gray
    color: white
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 50px
    // float: right

.extra
  padding-bottom: 20px
  div
    background: $color-yellow
  p
    padding-left: 100px
    padding-right: 75px 
  img
    float: right
    padding-right: 75px
  div.column.three-quarters.department-logos
    background: white

.event-list
  img
    // width: 500px
    // margin-top: 100px
    // padding-left: 100px
    // float: left

.artist-list
  list-style-type: none
  ul
    padding-left: 0
  li
    padding-bottom: 10px
    background-color: $color-yellow
    &:nth-of-type(odd)
      background-color: lighten($color-yellow, 15%)

.this-term
  .column
    padding: 0
