section.search

section.menu
  .search-form
    display: block
    position: relative
    .search
    .go
      position: absolute
      right: 0
      top: 0
      width: 25%
      background-color: transparent
      padding-left: 0
      padding-right: 0
