section.archive
  .event
    background-position: center
    background-size: cover
    .tile-content
      position: relative
      padding-bottom: 100%
      font-size: 0px
    .tile-content:hover
      background-color: rgba($color-yellow, .8)
      
