section.archive
  .event
    background-position: center
    background-size: cover
    .tile-content
      position: relative
      padding-bottom: 100%
      font-size: 0px
    .tile-content:hover
      background-color: rgba($color-gray, .8)
      .tile-artist-name
        p
          font-size: ($type-size-base * 1.5)
          color: white
          position: absolute
          margin: auto
          top: 50%
          left: 0 
          bottom: 0
          right: 0 
          text-align: center

        

